@{
    ViewData["Title"] = "Procurement Plans";
}
<!--begin::Page Vendors Styles(used by this page)-->
<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Page Vendors Styles-->
<!--begin::Card-->

<!--end::Card-->
<div class="container">
								<div class="row">
									<div class="col-md-4">
		<div class="card card-custom gutter-b example example-compact col-xs-6">
											<div class="card-header">
												<h3 class="card-title">Procurement Plan</h3>
												<div class="card-toolbar">
													<div class="example-tools justify-content-center">
														<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
														<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
													</div>
												</div>
											
											<!--begin::Form-->
											<form>
												<div class="card-body">
													<div class="form-group mb-8">
														<div class="alert alert-custom alert-default" role="alert">
															<div class="alert-icon">
																<span class="svg-icon svg-icon-primary svg-icon-xl">
																	<!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3" />
																			<path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
															</div>
															<div class="alert-text">Create Procurement plan header and then add its associated line items.</div>
														</div>
													</div>
													<div class="form-group">
														<label>Procurement Plan
														<span class="text-danger">*</span></label>
														<input type="text" class="form-control" id="title" name="title" placeholder="Enter procurement plan" />
														<span class="form-text text-muted">Enter a unique procurement plan title.</span>
													</div>
													<div class="form-group">
														<label for="exampleInputPassword1">Description
														<span class="text-danger">*</span></label>
														<textarea type="text" class="form-control" id="description" name="description" placeholder="" rows="3" ></textarea>
													</div>
													
													<div class="form-group">
														<label for="exampleSelect1">Year
														<span class="text-danger">*</span></label>
														<select class="form-control" id="exampleSelect1" name="year">
															<option>2022</option>
															<option>2023</option>
															<option>2024</option>
															<option>2025</option>
															<option>2026</option>
														</select>
													</div>
													
													
													
													<!--begin: Code-->
													<div class="example-code mt-10">
														<div class="example-highlight">
															<pre style="height:400px">

													</div>
													</div>
													<!--end: Code-->
												</div>
												<div class="card-footer">
													<button type="reset" class="btn btn-primary mr-2">Submit</button>
													<button type="reset" class="btn btn-secondary">Cancel</button>
												</div>
											</form>
											<!--end::Form-->
									
                                        </div>

											</div>
                                            </div>
											<div class="col-md-8">
																						<div class="col-md-8">
<div class="card card-custom gutter-b example example-compact col-md-12">
	
            <form id="procurementForm">
                <div class="card-header">
                    <h3 class="text-muted">ADD PROCUREMENT PLAN ITEMS/h3>
                </div>
                <div class="card-body">

                    <p class="mb-3 text-primary font-weight-bolder">ProcurementDetails</p>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Class</label>
                            <input type="text" class="form-control"
                                   name="Class"
                                   required />
                        </div>
                        <div class="col-lg-4">
                            <label>UNSPSC</label>
                            <input type="number"
                                   name="UNSPSC"
                                   class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label>Reference Number</label>
                            <input type="text" class="form-control"
                                   name="Ref_No"
                                   required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Project Code</label>
                            <input type="text"
                                   name="Project_Code" 
                                   class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label>Unit of Measure</label>
                            <select name="Unit_of_Measure"
                                    class="form-control selectpicker">
                                <option>Lot</option>
                                <option>Each</option>
                                <option>
                                    <b>Person</b>
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label>Quantity</label>
                            <input type="number"
                                   name="Quantity"
                                   class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Source of Funds</label>
                            <select name="Source_of_Funds" class="form-control selectpicker">
                                <option>GRZ</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label>Prequalification (Y/N)</label>
                            <input name="Prequalification"
                                   type="number" class="form-control"/>
                        </div>
                        <div class="col-lg-4">
                            <label>Procurement Method</label>
                            <select name="Procurement_Method" class="form-control selectpicker">
                                <option>sb</option>
                                <option>db</option>
                                <option>
                                    <b>lbn</b>
                                </option>
                                <option>lsn</option>
                            </select>
                        </div>
                    </div>
                    <p class="mb-3 text-primary font-weight-bolder">Estimated Dates</p>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Publication</label>
                            <div class="input-group">
								<input type="text" 
                                class="form-control kt_datepicker" 
                                name="Publication" 
                                placeholder="Select date" 
                                />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="la la-calendar-check-o"></i>
									</span>
								</div>
							</div>
                        </div>
                        <div class="col-lg-4">
                            <label>Award</label>
                            <div class="input-group">
								<input type="text" 
                                class="form-control kt_datepicker" 
                                name="Award" 
                                placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="la la-calendar-check-o"></i>
									</span>
								</div>
							</div>
                        </div>
                        <div class="col-lg-4">
                            <label>Start</label>
                            <div class="input-group">
								<input type="text" 
                                class="form-control kt_datepicker" 
                                name="Start" 
                                placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="la la-calendar-check-o"></i>
									</span>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-lg-4">
                            <label>Description</label>
                            <textarea name="Description"
                                      class="form-control" 
                                      style="height: 100px;"></textarea>
                        </div>
                        <div class="col-lg-4">
                            <label>Comments</label>
                            <textarea name="Comments"
                                      class="form-control" 
                                      style="height: 100px;"></textarea>
                        </div>
                        <div class="col-lg-4">
                            <label>Type of Entry</label>
                            <input type="text"
                                   name="Type_of_Entry"
                                   class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8 text-right">
                            <button type="button" id="saveData" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                
            </form>
	</div>
												</div>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid d-none" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
</div>
</div>
</div>
<!--end::Content-->
<!-- Modal Here-->


@section Scripts{
<!--begin::Page Vendors(used by this page)-->
<script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="~/assets/js/pages/crud/datatables/basic/headers.js"></script>
<!--end::Page Scripts-->
<!--begin::Page Scripts(used by this page)-->
<script src="~/assets/js/pages/crud/forms/widgets/bootstrap-select.js"></script>
<!--end::Page Scripts-->
<!--begin::Page Scripts(used by this page)-->
<script src="~/js/file-upload/procurementplan.dropzonejs.js" asp-append-version="true"></script>
<!--end::Page Scripts-->
<!--begin::Page Scripts(used by this page)-->
<script src="~/assets/js/pages/crud/forms/validation/form-widgets.js" asp-append-version="true"></script>
<!--end::Page Scripts-->
<script>
    $(document).ready(function(){


       $("#saveData").on('click', function(){

           console.log('Clicked')

           let formData = new FormData($("#procurementForm")[0]);
           let payload = {};
           for(var pair of formData.entries()) {
                payload[pair[0]]= pair[1];
           }


           let settings = {
              url: "procurement-plan/create",
              method: "POST",
              dataType: "json",
              data: JSON.stringify(payload),
              contentType: 'application/json'
           };
           $.ajax(settings)
           .done(function(response){

           }).fail(function(xhr){
           });
       })
    });
</script>

}