@page
@model E_Procurement.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CdfUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CdfUser.Id" />
            <div class="form-group">
                <label asp-for="CdfUser.Username" class="control-label"></label>
                <input asp-for="CdfUser.Username" class="form-control" />
                <span asp-validation-for="CdfUser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfUser.Fname" class="control-label"></label>
                <input asp-for="CdfUser.Fname" class="form-control" />
                <span asp-validation-for="CdfUser.Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfUser.Lname" class="control-label"></label>
                <input asp-for="CdfUser.Lname" class="form-control" />
                <span asp-validation-for="CdfUser.Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfUser.ConsituencyId" class="control-label"></label>
                <input asp-for="CdfUser.ConsituencyId" class="form-control" />
                <span asp-validation-for="CdfUser.ConsituencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfUser.Type" class="control-label"></label>
                <input asp-for="CdfUser.Type" class="form-control" />
                <span asp-validation-for="CdfUser.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfUser.Status" class="control-label"></label>
                <input asp-for="CdfUser.Status" class="form-control" />
                <span asp-validation-for="CdfUser.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfUser.DateCreated" class="control-label"></label>
                <input asp-for="CdfUser.DateCreated" class="form-control" />
                <span asp-validation-for="CdfUser.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfUser.CreatedBy" class="control-label"></label>
                <input asp-for="CdfUser.CreatedBy" class="form-control" />
                <span asp-validation-for="CdfUser.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfUser.RoleId" class="control-label"></label>
                <input asp-for="CdfUser.RoleId" class="form-control" />
                <span asp-validation-for="CdfUser.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfUser.DepartmentId" class="control-label"></label>
                <input asp-for="CdfUser.DepartmentId" class="form-control" />
                <span asp-validation-for="CdfUser.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
