<link type="text/css" rel="stylesheet" href="~/assets/custom/jquery.dataTables.min.css" />
@*<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />*@
    <div class="card card-custom gutter-b ">
        <div class="example example-compact table-responsive p-5">
            <table class="table table-bordered table-hover table-checkable mt-10 display" id="tenderTable">
                <thead>
                    <tr>
                        <th class="text-center">Action</th>
                        <th>UNSPSC</th>
                        <th>Description</th>
                        <th>Ref No.</th>
                        <th>Project Code</th>
                        <th>Unit of Measure</th>
                        <th>Quantity</th>
                        <th>Award</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <a href="~/supplier/tender/bid" class="btn btn-sm btn-info">
                                BID
                            </a>
                        </td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    <tr>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

@section Scripts{
    <script src="~/assets/custom/jquery.dataTables.min.js"></script>
    @*<script src="~/assets/plugins/dataTables/jquery.dataTables.js" asp-append-version="true"></script>*@
    <script>
        $(document).ready( function () {
            $('#tenderTable').DataTable();
        } );
    </script>
}