@page
@model E_Procurement.Pages.Budget.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="card o-hidden border-0 shadow-lg col-lg-12">
    <div class="card-header">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Create Budget</h1>
        </div>
    </div>
    <form method="post">
        <div class="card-body p-0">
            <div class="row" style="padding-top:30px">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-12">



                    <div class="form-group">
                        <label asp-for="CdfBudget.BudgetName" class="control-label">Description</label>
                        <textarea asp-for="CdfBudget.BudgetName" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="CdfBudget.BudgetName" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CdfBudget.Period" class="control-label"></label>
                        <select asp-for="CdfBudget.Period" class="form-control">

                            <option value="0">--Select--</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Quarterly">Quarterly</option>
                            <option value="Yearly">Yearly</option>
                        </select>
                        <span asp-validation-for="CdfBudget.Period" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CdfBudget.BudgetYear" class="control-label">Budget Year</label>
                        <input asp-for="CdfBudget.BudgetYear" class="form-control" />
                        <span asp-validation-for="CdfBudget.BudgetYear" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display:none">
                        <label asp-for="CdfBudget.CreatedBy" class="control-label"></label>
                        <input asp-for="CdfBudget.CreatedBy" class="form-control" />
                        <span asp-validation-for="CdfBudget.CreatedBy" class="text-danger"></span>
                    </div>

                   
                </div>

            </div>
        </div>
    </form>
</div>

    </div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
