@page
@model E_Procurement.Pages.Entity.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_metronicLayout.cshtml";
}

<h1>Create</h1>

<h4>CdfProcurementEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CdfProcurementEntity.EntityName" class="control-label"></label>
                <input asp-for="CdfProcurementEntity.EntityName" class="form-control" />
                <span asp-validation-for="CdfProcurementEntity.EntityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfProcurementEntity.Type" class="control-label"></label>
                <input asp-for="CdfProcurementEntity.Type" class="form-control" />
                <span asp-validation-for="CdfProcurementEntity.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfProcurementEntity.Email" class="control-label"></label>
                <input asp-for="CdfProcurementEntity.Email" class="form-control" />
                <span asp-validation-for="CdfProcurementEntity.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfProcurementEntity.Description" class="control-label"></label>
                <input asp-for="CdfProcurementEntity.Description" class="form-control" />
                <span asp-validation-for="CdfProcurementEntity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
