@page
@model E_Procurement.Pages.Fee.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_metronicLayout.cshtml";
}

<h1>Edit</h1>

<h4>CdfSupplierFee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CdfSupplierFee.Id" />
            <div class="form-group">
                <label asp-for="CdfSupplierFee.SupplierFee" class="control-label"></label>
                <input asp-for="CdfSupplierFee.SupplierFee" class="form-control" />
                <span asp-validation-for="CdfSupplierFee.SupplierFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfSupplierFee.Active" class="control-label"></label>
                <input asp-for="CdfSupplierFee.Active" class="form-control" />
                <span asp-validation-for="CdfSupplierFee.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfSupplierFee.DateCreated" class="control-label"></label>
                <input asp-for="CdfSupplierFee.DateCreated" class="form-control" />
                <span asp-validation-for="CdfSupplierFee.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
