@page
@model E_Procurement.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_metronicLayout.cshtml";
}

<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div id="kt_content_container" class="container-xxl">
								<!--begin::Row-->
								<div class="row gy-1 g-xl-12">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CdfProcurementEntity.Id" />
            <div class="form-group">
                <label asp-for="CdfProcurementEntity.EntityName" class="control-label"></label>
                <input asp-for="CdfProcurementEntity.EntityName" class="form-control" />
                <span asp-validation-for="CdfProcurementEntity.EntityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfProcurementEntity.Type" class="control-label"></label>
                <input asp-for="CdfProcurementEntity.Type" class="form-control" />
                <span asp-validation-for="CdfProcurementEntity.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfProcurementEntity.Email" class="control-label"></label>
                <input asp-for="CdfProcurementEntity.Email" class="form-control" />
                <span asp-validation-for="CdfProcurementEntity.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfProcurementEntity.Description" class="control-label"></label>
                <input asp-for="CdfProcurementEntity.Description" class="form-control" />
                <span asp-validation-for="CdfProcurementEntity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
