@page
@model E_Procurement.Pages.Tender.EditModel

@{
    ViewData["Title"] = "Edit";
     Layout = "~/Pages/Shared/_metronicLayout.cshtml";
}

<h1>Edit</h1>

<h4>CdfTender</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CdfTender.Id" />
            <div class="form-group">
                <label asp-for="CdfTender.Category" class="control-label"></label>
                <input asp-for="CdfTender.Category" class="form-control" />
                <span asp-validation-for="CdfTender.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.DateCreated" class="control-label"></label>
                <input asp-for="CdfTender.DateCreated" class="form-control" />
                <span asp-validation-for="CdfTender.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.DueDate" class="control-label"></label>
                <input asp-for="CdfTender.DueDate" class="form-control" />
                <span asp-validation-for="CdfTender.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.ShortDescription" class="control-label"></label>
                <input asp-for="CdfTender.ShortDescription" class="form-control" />
                <span asp-validation-for="CdfTender.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.LongDescription" class="control-label"></label>
                <input asp-for="CdfTender.LongDescription" class="form-control" />
                <span asp-validation-for="CdfTender.LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.TenderSerial" class="control-label"></label>
                <input asp-for="CdfTender.TenderSerial" class="form-control" />
                <span asp-validation-for="CdfTender.TenderSerial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.TenderProcedure" class="control-label"></label>
                <input asp-for="CdfTender.TenderProcedure" class="form-control" />
                <span asp-validation-for="CdfTender.TenderProcedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.TenderProcurementTechnique" class="control-label"></label>
                <input asp-for="CdfTender.TenderProcurementTechnique" class="form-control" />
                <span asp-validation-for="CdfTender.TenderProcurementTechnique" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.SubmissionDeadline" class="control-label"></label>
                <input asp-for="CdfTender.SubmissionDeadline" class="form-control" />
                <span asp-validation-for="CdfTender.SubmissionDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.ClarificationDeadline" class="control-label"></label>
                <input asp-for="CdfTender.ClarificationDeadline" class="form-control" />
                <span asp-validation-for="CdfTender.ClarificationDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.InvitationDate" class="control-label"></label>
                <input asp-for="CdfTender.InvitationDate" class="form-control" />
                <span asp-validation-for="CdfTender.InvitationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.ContractNoticeDate" class="control-label"></label>
                <input asp-for="CdfTender.ContractNoticeDate" class="form-control" />
                <span asp-validation-for="CdfTender.ContractNoticeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdfTender.EvaluationMechanism" class="control-label"></label>
                <input asp-for="CdfTender.EvaluationMechanism" class="form-control" />
                <span asp-validation-for="CdfTender.EvaluationMechanism" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
