<!--begin::Card-->
<div class="card card-custom example example-compact">
    <div class="card-header">
        <h3 class="card-title">Section Description</h3>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="tinymce">
            <textarea name="kt-tinymce-4" class="kt-tinymce-4 tox-target">
            <h1>Quick and Simple TinyMCE 5 Integration</h1>
            <p>Here goes the&#160;
            <a href="#">Minitial content of the editor</a>. Lorem Ipsum is simply dummy text of the&#160;
            <em>printing and typesetting</em>&#160;industry.</p>
            <blockquote>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>
            <h3 style="text-align: right;">Flexible &amp; Powerful</h3>
            <p style="text-align: right;">
            <strong>Lorem Ipsum has been the industry's</strong>&#160;standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
            <ul>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
                                                    </ul>
                                                </textarea>
        </div>
        <!--begin::Code-->
        <div class="example-code mt-10">
            <ul class="example-nav nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-2x">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#example_code_html4">HTML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#example_code_js4">JS</a>
                </li>
            </ul>
            <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
            <div class="tab-content">
                <div class="tab-pane active" id="example_code_html4" role="tabpanel">
                    <div class="example-highlight">
                        <pre style="height:400px">
                        <code class="language-html">
                            &lt;div class="card card-custom"&gt;
                                &lt;div class="card-header"&gt;
                                    &lt;h3 class="card-title"&gt;
                                        TinyMCE with Hidden Menubar
                                    &lt;/h3&gt;
                                &lt;/div&gt;
                                &lt;div class="card-body"&gt;
                                    &lt;div class="tinymce"&gt;
                                        &lt;textarea id="kt-tinymce-4" name="kt-tinymce-4" class="tox-target"&gt;
                                            &lt;h1&gt;Quick and Simple TinyMCE 5 Integration&lt;/h1&gt;
                                            &lt;p&gt;Here goes the&amp;nbsp;&lt;a href="#"&gt;Minitial content of the editor&lt;/a&gt;. Lorem Ipsum is simply dummy text of the&amp;nbsp;&lt;em&gt;printing and typesetting&lt;/em&gt;&amp;nbsp;industry.&lt;/p&gt;
                                            &lt;blockquote&gt;Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry.&lt;/blockquote&gt;
                                            &lt;h3 style="text-align: right;"&gt;Flexible &amp;amp; Powerful&lt;/h3&gt;
                                            &lt;p style="text-align: right;"&gt;&lt;strong&gt;Lorem Ipsum has been the industry's&lt;/strong&gt;&amp;nbsp;standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.&lt;/p&gt;
                                            &lt;ul&gt;
                                                &lt;li&gt;List item 1&lt;/li&gt;
                                                &lt;li&gt;List item 2&lt;/li&gt;
                                                &lt;li&gt;List item 3&lt;/li&gt;
                                                &lt;li&gt;List item 4&lt;/li&gt;
                                            &lt;/ul&gt;
                                        &lt;/textarea&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
                    </div>
                </div>
                <div class="tab-pane" id="example_code_js4">
                    <div class="example-highlight">
                        <pre style="height:400px">
                        <code class="language-js">
                            // Class definition

                            var KTTinymce = function () {
                                // Private functions
                                var demos = function () {
                                    tinymce.init({
                                        selector: '.kt-tinymce-4',
                                        menubar: false,
                                        toolbar: ['styleselect fontselect fontsizeselect',
                                            'undo redo | cut copy paste | bold italic | link image | alignleft aligncenter alignright alignjustify',
                                            'bullist numlist | outdent indent | blockquote subscript superscript | advlist | autolink | lists charmap | print preview |  code'],
                                        plugins : 'advlist autolink link image lists charmap print preview code'
                                    });
                                }

                                return {
                                    // public functions
                                    init: function() {
                                        demos();
                                    }
                                };
                            }();

                            // Initialization
                            jQuery(document).ready(function() {
                                KTTinymce.init();
                            });
                        </code>
                    </pre>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Code-->
    </div>
</div>
<!--end::Card-->