@{
    ViewData["Title"] = "Home Page";
}
<!--begin::Dashboard-->

<!--begin::Row-->
<div class="container" style="width:inherit">
<div class="row" style="padding-top:100px">
    <div class="col-xl-8">
        <!--begin::Nav Panel Widget 1-->
        <div class="card card-custom gutter-b card-stretch card-shadowless" >
            <!--begin::Body-->
            <div class="card-body p-0">
                <!--begin::Nav Tabs-->
                <ul class="dashboard-tabs nav nav-pills nav-danger row row-paddingless m-0 p-0 flex-column flex-sm-row" role="tablist">
                    <!--begin::Item-->
                    <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-4 mb-4 mb-lg-0">
                        <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" style="background-color:darkblue" href="~/procurement-plan" >
                            <span class="nav-icon py-2 w-auto">
                                <span class="svg-icon svg-icon-3x">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000"/>
                                            <rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1"/>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </span>
                            <span class="nav-text font-size-lg py-2 font-weight-bold text-center">Annual Procurement Plan</span>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->


                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-4 mb-4 mb-lg-0">
                        <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" style="background-color:cadetblue" href="tender-create">
                            <span class="nav-icon py-2 w-auto">
                                  <span class="svg-icon svg-icon-3x">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000"/>
                                            <rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1"/>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </span>
                            <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">Tender</span>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-4 mb-4 mb-lg-0">
                        <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" style="background-color:darkslategray" data-toggle="pill" href="#tab_forms_widget_4">
                            <span class="nav-icon py-2 w-auto">
                                  <span class="svg-icon svg-icon-3x">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000"/>
                                            <rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1"/>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </span>
                            <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">Suppliers</span>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                   
                    <!--end::Item-->
                    <!--begin::Item-->
             
                    <!--end::Item-->
                </ul>
                <!--end::Nav Tabs-->
                <!--begin::Nav Content-->
                <div class="tab-content m-0 p-0">
                    <div class="tab-pane active" id="forms_widget_tab_1" role="tabpanel"></div>
                    <div class="tab-pane" id="forms_widget_tab_2" role="tabpanel"></div>
                    <div class="tab-pane" id="forms_widget_tab_3" role="tabpanel"></div>
                    <div class="tab-pane" id="forms_widget_tab_4" role="tabpanel"></div>
                    <div class="tab-pane" id="forms_widget_tab_6" role="tabpanel"></div>
                </div>
                <!--end::Nav Content-->
            </div>
            <!--end::Body-->
        </div>
        <!--begin::Nav Panel Widget 1-->
    </div>
    <div class="col-xl-4">
        <!--begin::Engage Widget 8-->
        <div class="card card-custom gutter-b card-stretch card-shadowless">
            <div class="card-body p-0 d-flex">
                <div class="d-flex align-items-start justify-content-start flex-grow-1 bg-light-warning p-8 card-rounded flex-grow-1 position-relative">
                    <div class="d-flex flex-column align-items-start flex-grow-1 h-100">
                        <div class="p-1 flex-grow-1">
                            <h4 class="text-warning font-weight-bolder"></h4>
                            <p class="text-dark-50 font-weight-bold mt-3"></p>
                        </div>
                        <a href="tender-create" class="btn btn-link btn-link-warning font-weight-bold" >

                            Create Tender
                            <span class="svg-icon svg-icon-lg svg-icon-danger">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"/>
                                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"/>
                                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"/>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>

                        </a>
                    </div>
                    <div class="position-absolute right-0 bottom-0 mr-5 overflow-hidden">
                        <img src="assets/media/svg/humans/custom-13.svg" class="max-h-200px max-h-xl-275px mb-n20" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Engage Widget 8-->
    </div>
</div>
</div>
<!--end::Row-->

<!--begin::Row-->

<!--end::Row-->
<!--begin::Row-->

<!--end::Row-->
<!--begin::
<!--end::Header-->
<!--begin::Body-->


<!--end::Item-->
<!--begin::Item-->

    <!--end::Dropdown-->



<!--end::Tap pane-->
<!--begin::Tap pane-->

<!--end::Tap pane-->
<!--begin::Tap pane-->

<!--end::Tap pane-->
<
<!--end::Body-->


<!--end::Row-->

<!--begin::Row-->

<!--end::Header-->
<!--begin::Body-->

<!--end::Row-->

<!--end::Dashboard-->

@section Scripts{
     <!--begin::Page Vendors(used by this page)-->
    <script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/assets/js/pages/widgets.js"></script>
    <script>
    
      let settings = {
              url: "procurement-plan/create",
              method: "POST",
              dataType: "json",
              data: JSON.stringify(payload),
              contentType: 'application/json'
           };
           $.ajax(settings)
           .done(function(response){

               if(response.success){

                   let data = response.payload

               }
           });
    </script>
    <!--end::Page Scripts-->
}